# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Virtual Environment
venv/
pip-selfcheck.json

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Compiled Python files
*.pyc
__pycache__/

# Compiled bytecode
*.pyo
*.pyd

# Database
db.sqlite3

# Media files
media/

# Static files
staticfiles/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
build/
dist/s
*.egg-info/
*.egg
MANIFEST

# PyInstaller
__pycache__/
*.pyc
*.pyo
dist/
build/
*.spec

.env